<section>
  <h2>Core Skills</h2>
  <div class="skills-grid">
    {%- for coreskill in resume.coreskills %}
      <div class="skill-category">
        <h3>{{ coreskill.label }}</h3>
        <p>{{ coreskill.description }}</p>
      </div>
    {%- endfor %}
  </div>
</section>