<section>
  <h2>Key Projects</h2>
  {%- for project in resume.projects %}
    <div class="project-item">
      <div class="project-header">
        <h3>{{ project.name }}</h3>
        <div class="project-role">{{ project.role }}</div>
        <div class="project-overview">{{ project.overview }}</div>
      </div>
      <ul class="project-contributions">
        {%- for contribution in project.contributions %}
          <li>{{ contribution }}</li>
        {%- endfor %}
      </ul>
    </div>
  {%- endfor %}
</section>